.viminfo
.vimrc
*.swp
\#*
.#*
.emacs*
.DS_Store
*.dump
tmp
.erlang.cookie
keys.sh
keys.rb
*.beam
*.ez
droid.log
ebin
release/*.boot
deps
Mnesia.*
logs
dump.rdb
hermes.log
mock.log
redis.log
mock
.edts
*.etsdump
src/temp
.rebar
_rel
log
*~
.eunit
