[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [{elvis_style, atom_naming_convention, #{regex => "^([a-z0-9]*_?)*?$"}},
            {elvis_text_style, line_length, #{limit => 150}},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}]},
     #{dirs => ["test"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [%% Variables in eunit macros are called, for instance, __V
            {elvis_style, variable_naming_convention, #{regex => "^_?_?([A-Z][0-9a-zA-Z]*)_?$"}},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}]},
     #{dirs => ["."],
       filter => "*rebar.config",
       ruleset => rebar_config},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
