{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.
{erl_opts, [debug_info]}.

{cover_enabled, true}.
{deps, [{base64url, "", {git, "https://github.com/dvv/base64url.git"}},
        {pkcs7, "", {git, "https://github.com/camshaft/pkcs7.erl.git"}}]}.

{eunit_opts,
 [verbose,
  %% eunit truncates output from tests - capture full output in
  %% XML files in .eunit
  {report,{eunit_surefire,[{dir,"."}]}}]}.
