{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "23"}.

{cover_enabled, true}.

{deps, [{base64url, "1.0.1"}, {pkcs7, "1.0.2"}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

%% Remove proper from pkcs7 deps
{overrides, [{override, pkcs7, [{deps, []}]}]}.

{profiles, [{test, [{deps, [{erlware_commons, "1.6.0"}, {jsx, "3.1.0"}]}]}]}.

{dialyzer,
 [{warnings, [no_return, error_handling]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {base_plt_apps, [erts, stdlib, kernel]},
  {base_plt_location, global}]}.

{xref_checks,
 [undefined_function_calls,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{spellcheck,
 [{ignore_regex,
   "(https://|[a-z0-9]:[0-9a-z]|<pre>|--+|==*|[a-z]/[a-z]|[a-z][(]|[?][A-Z]|->)"},
  {files, ["src/*"]},
  {additional_dictionaries, ["code.dict", "names.dict"]}]}.

{alias, [{test, [format, spellcheck, lint, hank, xref, dialyzer, eunit, ct, cover]}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.1"},
  {rebar3_format, "~> 1.1.0"},
  {rebar3_lint, "~> 1.0.2"},
  {rebar3_hank, "~> 1.2.2"},
  {rebar3_sheldon, "~> 0.4.2"}]}.
