{cover_enabled, true}.
{deps, [
    {base64url, "",
        {git, "https://github.com/ferd/base64url.git", {ref, "4d6f89b3"}}},
    {pkcs7, "",
        {git, "https://github.com/camshaft/pkcs7.erl.git", {ref, "56b11a13f6"}}}
]}.

{eunit_opts,
 [verbose,
  %% eunit truncates output from tests - capture full output in
  %% XML files in .eunit
  {report,{eunit_surefire,[{dir,"."}]}}]}.

%% Remove proper from pkcs7 deps
{overrides, [
    {override, pkcs7, [{deps, []}]}
]}.
